<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=icon href=data:,>
<title>{{ .Title }}</title>
<style type="text/css">
body {
	font: 100%/1.48 sans-serif;
	margin:auto;
	max-width: 38rem;
	padding: 2rem 1rem;
}
header {
	margin: 0 0 5rem;
}
.logo {
	color: inherit;
	display: inline-block;
}
nav {
	margin: 1rem 0 0;
	display: block;
}
nav a {
	color: inherit;
	border-bottom: 1px solid indianred;
	text-decoration: none;
	padding-bottom: 1px;
	margin-right: 1rem;
}
intro a {
	color: inherit;
	border-bottom: 1px solid indianred;
	text-decoration: none;
	padding-bottom: 1px;
}
footer {
	margin: 5rem 0 0;
}
</style>
</head>
<body>
<main>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</main>
</body>
</html>
