<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=icon href=data:,>
<title>{{ .Title }}</title>
<style type="text/css">
* {
    box-sizing: border-box;
}
body {
    font: 100%/1.48 sans-serif;
    margin:auto;
    max-width: 38rem;
    padding: 2rem 1rem;
}
header {
	margin: 0 0 5rem;
}
intro a {
	color: inherit;
	border-bottom: 1px solid indianred;
	text-decoration: none;
	padding-bottom: 2px;
}
footer {
	margin: 5rem 0 0;
}
</style>
</head>
<body>
<main>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</main>
</body>
</html>
