<!DOCTYPE html>
<html>
<title>janwillem.net | website by J.W. Boelens</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel=icon href=data:,>
<style>
body {
	font-size: 15px;
	line-height: 1.6;
	max-width: 64em;
	margin: 0 auto;
	padding: 2em 2.5em;
	color: #4d4d4d;
}
div.archive {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
div.archive > div {
	padding: 5px;
	display: flex;
	align-items: center;
	line-height: 0;
}
div.archive > div img {
	width: 100%;
}
</style>
<body>

<header>
<a href="/" class="logo">jwboelens.org</a><a class="nav" href="/">/photos</a>
</header>

<div>	
<div class="archive">
  {{ range (.Data.Pages.ByParam "year") }}
  <div>
    <a href="{{ .Permalink }}">{{ with .Params.thumbnail }}<img src="{{ . }}">{{ end }}</a>
  </div>
  {{ end }}
</div>
</div>
	
<footer>
</footer>
	
</body>

</html>
